body {
    height: 200vh;
    background-color: aquamarine;
    }

.nav-bar {
    display: flex;
    /* 서비스명과 메뉴 버튼이 서로 멀어지게 합니다. */
    justify-content: space-between;
    align-items: center;
    /* 내비게이션 바는 상단에 붙어 있습니다. */
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 2rem;
    padding: 1rem 2rem; 
    /* sticky를 사용하는 경우 배경색을 지정해줘야 합니다. */
    background-color: white;
}