h1 {
    color: blue;
}

button {
    font-size: 15px;          
    padding: 8px 15px;      
    background-color: grey; 
    color: white;            
    border: none;             
    border-radius: 8px;       
    cursor: pointer;         
}